body {
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  form {
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 15px;
  }

  textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    padding: 10px 20px;
    background-color: #126ebe;
    color: #fff;
    border: chocolate;
    cursor: pointer;
  }

  #detailsContainer {
    margin-top: 30px;
  }

  #detailsContainer h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #detailsContainer h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  #detailsContainer p {
    margin-bottom: 10px;
  }

  #detailsContainer img {
    max-width: 100%;
    margin-bottom: 20px;
  }